{% extends 'base.html' %}

{% block titulo %}
    Detalhes
{% endblock %}

{% block content %}
    <main class = 'bg-primary_black min-h-screen w-full'>
        <section class = 'h-screen relative bg-no-repeat pb-8 pl-6 flex items-end bg-cover'
            style = "background-image: url('{{ object.thumb.url }}')">
            <div>
                <h2 class = 'text-6xl font-semibold text-white my-4'>
                    {{ object.titulo }}
                </h2>
                <p class = 'w-11/12 md:w-5/12 font-medium text-white my-4'>
                    {{ object.descricao|slice:':100' }}...
                </p>
            </div>
        </section>
  
        <section class = 'bg-primary_black flex justify-center py-10'>
            <div class = 'p-8 w-10/12 relative'>
                <h2 class = 'text-gray-200 text-3xl font-medium'>
                    Episódios
                </h2>
                <br />
                <ul class = 'episodios-list'>
                    {% for episodio in object.episodios.all %}
                        <li class = 'episodio-item flex items-center'>
                            <span class = 'episodio-contador mr-2'>
                                Episódio {{ forloop.counter }}
                            </span>
                            <h3 class = 'episodio-title'>
                                {{ episodio.titulo }}
                            </h3>
                            &nbsp; - &nbsp;
                            <a href = '{{ episodio.video.url }}' >
                                <img src = '{{ episodio.thumbnail.url }}' alt = '{{ episodio.titulo }}' class = 'episodio-thumbnail h-20 w-20 object-cover'/>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
          </section>
  
        <section class = 'bg-primary_black flex justify-center py-10'>
            <div class = 'p-8 w-10/12 relative'>
                <h2 class = 'text-gray-200 text-2xl font-medium'>
                    Relacionados
                </h2>
                <div class = 'flex flex-wrap items-center min-w-full movie_lis'>
                {% for video in videos_relacionados %}
                    <div class = 'm-4 bg-blue-500 overflow-hidden flex-shrink-0 rounded-md cursor-pointer h-64 w-96'>
                        <a href = "{% url 'video:detalhesvideo' video.pk %}">
                            <img src = '{{ video.thumb.url }}' class = 'object-cover w-full h-full' alt = ''/>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}